<div class="navtab-content">
  <h3>Overview</h3>

  {{#unless model.abstract}}
    <p>
      {{model.abstract}}
    </p>
  {{else}}
    <p>
      {{format-markdown model.description500}}
      {{#if model.description}}
        {{#link-to 'reach.detail' model.id}}&lt;read more&gt;{{/link-to}}
      {{/if}}
    </p>
  {{/unless}}

  {{outlet}}
</div>


