<div class="jumbotron">
  <h1>
    River-Chaser<br/>
    <small>There is not much to chase if you do not know where you are going.</small>
  </h1>
  <p>For now, just head to the {{#link-to 'reaches'}}reaches search route{{/link-to}}, since this is about all I have built.</p>
</div>
{{outlet}}
