<div class="jumbotron">
  <h1>River-Chaser</h1>
  <p>Are you a river chaser? If you don't know what river you are going to, or even how to get to the river you are interested in...you might
    spend a lot of time chasing, but not much time at the actual river. This is what River-Chaser is for - to help you quickly find a river, and
    figure out how to get there!
  </p>
  <p>For now, just head to the {{#link-to 'reaches'}}Reach Search{{/link-to}}, since this is about all I have built.</p>
</div>
{{outlet}}
