<div class="container">
<div class="row">
  <div class="col-sm-12">
    <h2>Reaches</h2>
    <ul>
    {{#each model as |reach|}}
    <li>
      {{#link-to 'reach' reach.reachId}}
        {{reach.riverName}} - {{reach.name}}
      {{/link-to}}
    </li>
    {{/each}}
  </ul>
  </div>
</div>
{{outlet}}
</div>
