<h2>Reaches</h2>

{{input value=search}}

{{#each model as |reach|}}

<ul>
  {{#link-to 'reach' reach.reachId}}
    <li>{{reach.riverName}} - {{reach.name}}</li>
  {{/link-to}}
</ul>

{{/each}}

{{outlet}}
